body{
    margin: 0;
}
h1{
	text-align: center;
    color: #2571B7;
    font-size: 40px;
    font-family: "segoeui";
}
button{
    cursor: pointer;
}
#menu{
	display: flex;
    padding: 10px;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2571B7;
}
.itensMenu{	
	color: white;
	height: 60%;
	margin: auto;
}
#menu button:hover{ 	

}
button{
	border: none;
}

p{font-family: "segoeui";}

.buttonsMenu{
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -o-transition:background-color 0.4s;
    -moz-transition:background-color 0.4s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
	padding-right: 20px;
    padding-left: 20px;
    background: none;
    margin: auto 16px;
}
.buttonsMenu:hover{
    background-color:#3682C8; 
}
.lastButton{
    background-color: #002050;
}
.lastButton:hover{
    background-color: #113161;
}

.posLogo{
    margin: auto auto auto 80px;
}
.posButtonsMenu{
    margin: auto 12px;
}
.LoremLogoMenu{
    height: auto;
    width: 120px;
}
.textFontPrinc{
	font-family: "segoeui";
	/*segoeuib/segoeuil*/
	color: white;
}
@font-face{	
	font-family: "segoeuib";
    src: url(ttf/segoeuib.ttf);	
}
@font-face{	
	font-family: "segoeuil";
    src: url(ttf/segoeuil.ttf);	
}
@font-face{	
	font-family: "segoeui";
    src: url(ttf/segoeui.ttf);	
}
.entrada{
	position: relative;    
    display:inline-block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 80px;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url(img/ballpen-blur-close-up-461077.png);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.imagemEntrada{
	position: absolute;
	width:  100%;
}
.TextoTituloEntrada{
	font-family: "segoeuib";
    font-size: 50px;
    color: white;
    margin-left: 7%;    
    margin-top: 150px;
    position: relative;
}
.SubTitulo{
	font-family: "segoeui";
	font-size: 23px;
    color: white;
    position: relative;
    margin-top: -42px;
}
.LoremLogoEntrada{
    height: 60px;
    right: 40px;
    bottom: -320px;
    position: relative;
    float: right;
}
.itensEntrada{

}
.botaoGeral {
	background-color: #00A4EF;
	height:40px;
	color: white;
}
.botaoEntrada{
	width: 190px;
    height: 50px;
    font-size: 20px;
}
.botaoGeral:hover{
    background-color: #11B5FF;
}
.esqEntrada{
  margin-left: 7%;

}
.setaAvancar{
	background-image: url(img/avancar.png);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    width: 70px;
    height: 70px;
    display: block;
    margin-top:50px;
}

#section04 {
	background: url(https://picsum.photos/1200/800?image=506) center center / cover no-repeat;
}
.TextoGeral{
    text-align:center;
    color: dimgray;
    font-size: x-large;
}
.TextoTitulo{
    text-align:center;
    color: #2571B7;
    font-size: 50px;

}
.CaixaDeTexto{
    position: relative;
    top: 120px;
    margin: auto 70px;
}




.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  margin-left: 7%;
  display: contents;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
}

.alvosDivFundo{
    display: flex;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    margin-top: 150px;
}
.TextoAlvos {
    color: white;
    font-size: 15px;
    margin: auto;     
    margin-left: 20px;
}

.alvosDiv{
    margin-right: 20px;
}
.AlvoImg{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.divP{
    display: -webkit-inline-box;
    margin: auto;
    height: 80%;
}

.divImg{
    position: inherit;
    width: 20%;
    margin: auto;
}
.alvos{
    display: flex;
    padding: 16px;
    text-align: left;
    margin: 15px;
}

.MenuPopUpResponsivo{
	
	background-image: url(img/menu.png);
	top: -26px;
    left: -9px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 50px;
    width: 40px;
    display:none;
}



nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}

nav ul {  
    list-style: none;
    padding: 0;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 15px 20px;
    color: #757575; text-decoration: none;
}

nav ul ul {
    left: 0;
    background: #2571B7; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    float: none; 
    border-top: 1px solid #2571B7;
    border-bottom: 1px solid #3682c8; position: relative;
}
nav ul ul li a {
    padding: 15px 20px;
    color: #fff;
}   
nav ul ul li a:hover {
    background: #3682C8;
}

.CaixaDas3Imagens{
	display: flex;
    margin: auto;

}

.Caixas3{
    display: grid;    
    padding: 18px;
}
.FundoCircular3Caixas{
	border-radius: 50%;
	display: flex;
    margin: auto;
    width: 150px;
    height: 150px;

}
.imgDas3Caixas{
	margin: auto;
    display: block;
}
.titulo3Caixas{
    font-family: 'segoeui';
    font-size: x-large;
    font-weight: 900;
}
.barra3Cx{/*Ref 01- Verificar, limpar do Html*/

}

.textDas3Caixas{


}
.botao3Caixas{
 background: none;
 border-style: solid;
 border-width: 2px;
 height: 45px;
 width: 80%;
 margin: auto;
 margin-top: 30px;
}
.marginAuto{
    margin: auto;
    margin-top: 30px;
}

.AjusteResp3CxImg{
    display:  contents;
}
.AjusteResponsivo3CaixasTexto{
    display: grid;
}
.BarraPC{
    display: block;
}

.barraResp{
    display: none;
}

.Quadros4{
    display: flex;

}
.quadro{
    display: block;
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: gainsboro;
    padding: 25px;
    margin: auto;
}

.TituloQuadro{
    color: #f25022;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    font-size: medium;
}
.textoQuadro{
    font-size: small;
}

.divPromocao{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/achievement-adult-agreement-1391373.png);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}

.textPromocao{
    margin: auto;
    display: block;  
    color: white;
    font-size: xx-large;
    text-align: center;
}

.Subscribe{
    margin: auto;
    margin-top: 100px;
    width: 500px;   
    background-color: gainsboro;
    padding: 20px;
}
.caixadeSubscribe{

}
.tituloSub{
    transition: color 0.8s;
    color: gray;
}
.subInput{
    width: 100%;
    margin: auto;
    display: block;
    border: none;
    height: 40px;
    font-size: 30px;
    color: #777;
    font-family: 'segoeui';
}
 .subInput:focus #tituloSub1{
    color: blue;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
.btSub{
    transition: background-color 0.3s;
    margin: auto;
    margin-top: 20px;
    display: block;

}
.divLogoFinal{
    display: flex;
    width: fit-content;
    margin: 0px auto;
}
.separadorLgFn{/*Separador Logo Final*/
    display: flex;
    margin:30px;
}

.logoFinalImg{

}
.logoFinalTexto{
    display: block;
    margin: auto;
}

.caixadeSubscribe:focus-within > .tituloSub{
  color: #3279BA;
  font-weight: bold;
}

@media only screen and (max-width:860px) {/*Parte Responsiva*/
    .hide{
        display: none;
    }
    .MenuPopUpResponsivo{
        display: block;
    }
    .itensEntrada{
        text-align: center;
        width: 80%;
    }
    .LoremLogoEntrada{ 
        bottom: -360px;
    }
    .posLogo {
        margin: auto;        
    }
    .alvosDivFundo{
        display: table;
        font-size: 12px;
    }
    .Caixas3{
        display: flex;
    }
    .CaixaDeTexto{
        margin: auto 25px;
    }
    .AjusteResponsivo3CaixasTexto{
        display: initial;
        padding: initial;
        order: -1;
    }
    .CaixaDas3Imagens{
        display: block;
        margin: inherit;
    }
    .FundoCircular3Caixas{

    }
    .AjusteResp3CxImg{
        display: flex;        
        padding: 7px;
    }

    .TextoResp3Cx{
        text-align:left; 
    }
    .BarraPC{        
        display: none;
    }
    .barraResp{
        display: block;
        width: -webkit-fill-available;
        height: 7px;
    }
    .Quadros4{
        display: grid;
    }
    .quadro{
        width: 80%;

    }


}

@media only screen and (max-width:600px) {
    .Subscribe{
        width: auto;
    }
    .spLgFn2{
        display: none;
    }
    .logoFinalImg {
        height: 28px;
    }
    .logoFinalTexto{
        height: 28px;
    }
}
@media only screen and (max-width: 340px) {
    .itensEntrada{
        margin-top: 45px;
    }
    .posLogo{
        margin-left: 10px;
    }
    .LoremLogoMenu{ 
        display: none;
    }
    .LoremLogoEntrada{   
        height: auto;
        margin: 7%;
        width: 85%;
        right: initial;
        bottom: -360px;
        position: relative;
        float: initial;
    }
 
    .setaAvancar{
        position: relative;
        display: block;  
        width: 70px;
        height: 70px;
        margin: auto;
        top: 70px;
    }
    .lastButton{
        margin:auto;
        margin-right: 5px;
    }
    .TextoAlvos{
    	margin-left: auto;
    }
    .titulo3Caixas{
        text-align: center;
    }
    .alvos{
        display: block;
        text-align: center;
    }
    .AlvoImg{
        margin: auto;
        font-size: 14px;
    }
    .alvosDiv{
        display: contents;
    }
    .divImg{
    	width: initial;
    }
    .Caixas3{
        display: grid;

    }
    .AjusteResponsivo3CaixasTexto{
        display: grid;
        order: 0;
    }
    .TextoResp3Cx{
        text-align: center;
    }
    .TextoGeral{
        font-size: larger;
    }
    h1{
        font-size: 30px;
    }
    .textPromocao{
        font-size: large;
    }
}

@media only screen and (max-width: 280px) {


}